# {{ .Title }}

| Status | Author         | Date       |
| ------ | -------------- | ---------- |
| {{ .Status }} | {{ .Author }} | {{ .Date }} |

## Context and Problem Statement

## Decision Drivers


## Considererd Options


## Decision Outcome
  